<mat-list role="list">
<div class="side-profile mt-3 mb-5">
<img width="100px" src="https://c4.wallpaperflare.com/wallpaper/677/974/386/mcqueen-cars-movie-wallpaper-thumb.jpg" alt="Logo Image">
<span class="text mt-5">Mc<span class="text-danger">Q</span>ueen</span>
</div>

  <div class="items ms-4">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"> <i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;&nbsp; Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/" >
            <i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;&nbsp;&nbsp; Chart</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><i class="fa-solid fa-message"></i>&nbsp;&nbsp;&nbsp;&nbsp; Form</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp; E-mail</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><i class="fa-regular fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp; Profile</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><i class="fa-sharp fa-solid fa-gears"></i>&nbsp;&nbsp;&nbsp;Settings</a>
      </div>
      <div class="mt-5 ms-5 btn">
        <button mat-button>SIGN OUT</button>

      </div>

</mat-list>