<div class="dashboard">
  
  <div class="sideone">
  
  
  <app-widget-chart></app-widget-chart>
  
  
      <div class="p-card">
        <div class="c-card">
          <mat-card>
               
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <app-widget-gauge></app-widget-gauge>
                <mat-card-content>
                <h6 class="ms-3"><span class="badge bg-warning">LOREM IPSUM</span></h6>
                </mat-card-content>
               
              </mat-card>
                
      </div>
      
          <div class="c-card">
               <mat-card >
               
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
               <app-widget-pie></app-widget-pie>
               <mat-card-content>
                <h6 class="ms-3"><span class="badge bg-success">LOREM IPSUM</span></h6>
                </mat-card-content>
               
              </mat-card>
          </div>
         <div class="c-card">
              <mat-card >
              
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <app-widget-pie-two></app-widget-pie-two>
               <mat-card-content>
                <h6 class="ms-3"><span class="badge bg-primary">LOREM IPSUM</span></h6>
                </mat-card-content>
               
              </mat-card>
    
            </div>  
      </div>
      <app-progress-bar></app-progress-bar>
  
  </div>
  <div class="sidetwo ms-3">
  <app-widget-right></app-widget-right>
  
  </div>
</div>