  <div class="toggle">
  
  <!-- Toggle button -->
  <div class="tbtn">

    <!-- <button (click)="sideBarToggle()" > -->
      <!-- <mat-icon >menu</mat-icon> -->
      <img (click)="sideBarToggle()"  width="18px" height="50px" src="https://cdn-icons-png.flaticon.com/512/60/60789.png" alt="">
     <!-- </button> -->
  
  </div>


<div class="dashboard">


  <div class="sideone">
  
  
  <app-widget-chart></app-widget-chart>
  
  
      <div class="p-card">
        <div class="c-card">
          <mat-card>
               
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <app-widget-gauge></app-widget-gauge>
                <mat-card-content>
                <h3 class="text-center"><span class="badge bg-success">LOREM IPSUM</span></h3>
                </mat-card-content>
               
              </mat-card>
                
      </div>
      
          <div class="c-card ms-3">
               <mat-card >
               
               <app-widget-pie></app-widget-pie>
               <mat-card-content>
                <h3 class="text-center"><span class="badge bg-primary">LOREM IPSUM</span></h3>
                </mat-card-content>
               
              </mat-card>
          </div>
         <div class="c-card ms-3">
              <mat-card >
              
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <app-widget-pie-two></app-widget-pie-two>
               <mat-card-content>
                <h3 class="text-center"><span class="badge bg-warning">LOREM IPSUM</span></h3>
                </mat-card-content>
               
              </mat-card>
    
            </div>  
      </div>
      <app-progress-bar></app-progress-bar>
  
  </div>
  <div class="sidetwo ms-3">
  <app-widget-right></app-widget-right>
  
  <!-- euler diagram -->
  <app-euler-diagram></app-euler-diagram>
  
  </div>
</div>
</div>