.sideone{
    width: 65%;
}
.p-card{
    display: flex;
    width: 100%;
    /* border: 1px solid; */
    justify-content: space-between;
}
.sideone{
    width: 60%;
    margin-left: 10px;
}
.sidetwo{
    width: 35%;
}
.dashboard{
    display: flex;
    margin-left: 0;
}
.c-card{
    width: 35%;
   
}
.app-euler-diagram{
    margin:0
}
.toggle{
    display: flex;
}
.tbtn{
    /* margin-left: 0; */
    margin-top: 23%;
    position:-webkit-sticky;   
}

